head

  title= page.title
  meta(charset="utf-8")
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")

  meta(name="keywords", content=pkg.keywords.join(","))
  meta(name="description", content=pkg.description)

  block meta

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

  block link

  - each path, id in head.lib.js
    script(type='text/javascript', id=id, src=path)

  - each path, id in head.lib.cs
    script(type='text/coffeescript', id=id, src=path)

  - each path, id in head.lib.css
    link(rel='stylesheet', id=id href=path)

  - each r_main in head.init.rjs
    script(data-main=r_main, src=head.lib.rjs[r_main])

