//- Multifunctional block for use as head element

head

  title= page.title
  meta(charset="utf-8")
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")

  meta(name="keywords", content=pkg.keywords.join(","))
  meta(name="description", content=pkg.description)

  block meta

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

  block link

  each href in head.js
    script( type='text/javascript', src=href )

  each href in head.cs
    script( type='text/coffeescript', src=href )

  each href in head.css
    link(rel='stylesheet', href=href)

  each r_main in head.rjs
    script(data-main=lib(r_main), src='/vendor/require.js')
